/ {
    chosen {
        zmk,underglow = &led_strip;
    };
};

/* WS2812 on RP2040 using PIO */
&pio0 {
    status = "okay";

    led_strip: ws2812 {
        compatible = "raspberrypi,pico-ws2812";
        label = "WS2812";
        pin = <16>;                   /* GP16 pour les LEDs */
        chain-length = <20>;          /* Nombre total de LEDs */
        color-mapping = <LED_COLOR_MAPPING_RGB>;
    };
};
